.container
{
  display:flex;
  justify-content:center;
  align-items:center;

  flex-direction:column;
}
.output
{
  outline:none;
  border:none;
  width:320px;
  height:60px;
  font-size:32px;
  padding:2px 10px;
  background:black;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  color:white;
  text-align:right;
}
button
{
  width:85px;
  height:90px;
  font-size:26px;
  cursor: pointer;
  border:none;
  border-top:1px solid black;
  border-right:1px solid black;
}
.operator
{
  border-right:none;
  background-color:aqua;
}
.fun-key
{
  background-color: red;
}
.digit:hover
{
  background-color:#d9d9d9;
}
.operator:hover
{
  background-color:#c7790f;
}
.fun-keys:hover
{
  background-color:#aba9a9;
  padding:10px;
}